<div class="animatebg">
<div class="dv">
    <span><input class="srch1" type="text" [(ngModel)]="nameortype" placeholder="Search.." ngModel></span>
    <span><img src="/assets/filter.svg" (click)="showFilter()" width="30px" height="30px"></span>
    <span><img src="/assets/search.svg" (click)="search()" width="30px" height="30px"></span><br>
   </div>
   <div class="filter">
   <span *ngIf="filterOn">
        <select class="form-control" name="filter" #type="ngModel" [(ngModel)]="filterToSet" (ngModelChange)="changeType(this)" required>
            <option [value]="'All'" class="selectOption">All</option>
                <option *ngFor="let filter of filters" [value]="filter" class="selectOption">{{filter}}
            </option>
        </select>
    </span>
    <span *ngIf="companyFilterOn&&filterOn">
            <select class="form-control" name="companyFilter" #type="ngModel" [(ngModel)]="companyFilterToSet" (ngModelChange)="changeCompanyFilter(this)" required>
                <option [value]="'All'" class="selectOption">All</option>
                <option *ngFor="let filter of companyFilters" [value]="filter" class="selectOption">{{filter}}</option>
            </select>
    </span>
    </div>
    <form class="check">              
        <input id="cont" type="checkbox" value="false" (click)="checkUncheck('cont')"> CONTENT
        &nbsp; &nbsp;
        <input id="comp" type="checkbox" value="false" (click)="hide();checkUncheck('comp')"> COMPANIES
        &nbsp; &nbsp;
        <input id="exp"  type="checkbox" value="false" (click)="checkUncheck('exp')"> EXPERT
    </form>

      <div style="text-align:center;">
    <div id="getHide">
        <input  id="name" type="checkbox" value="false" (click)="checkUncheck('name')"> NAME
        <input  id="type" type="checkbox" value="false" (click)="checkUncheck('type')"> TYPE
        <input  id="tag" type="checkbox" value="false" (click)="checkUncheck('tag')"> TAG
    </div>
    <br />
    <button class="btn btn-danger" (click)="viewAllContent()"> View All Content </button>
    <button class="btn btn-danger"  (click)="viewAllCompanies()"> View All Companies </button>
    <button class="btn btn-danger" (click)="viewAllExperts()"> View All Experts </button>
    </div>
    </div>
    <style>
        .check{
           text-align:center;
           margin-top:3px;
        }
        .dv{
            text-align: center;
        }
        .srch1{
            margin-bottom:6px;
            padding: .2em .2em .2em .5em;
            width: 450px;
            height: 50px;
            border: 3px solid #D00018;
        }
    </style>
    <div class="container">
        <div *ngIf="this.searchResult">
    <h1>Results</h1>
    <div id="tablesDiv" >
          <div id="companyDiv" *ngIf="this.companyElasticSearch.length>0">
          
            <h2>Companies</h2>
          <div class="card" style="margin-bottom: 10px; box-shadow: 0 4px 4px 0 rgb(96,72,28); padding-left:30px; padding-top:10px; padding-right:10px;" *ngFor="let item of this.companyElasticSearch">
              <h4 class="text-uppercase">{{item.name}}</h4>
              <div>Tags: <span class="tags-input__tag" *ngFor="let tag of item.tags;">{{tag}}</span></div>

                  <button class="btn btn-danger"
                  style="margin-left:auto;margin-right:0px;float:right;margin-left:80%;margin-bottom:1%;width:20%;"  (click)="viewCompany(item._id)">
                      View Company
                  </button>
              
         </div>
          </div>
          <div id="expertDiv" *ngIf="this.userElasticSearch.length>0">
          <h2>Experts</h2>
          <div class="card" style="margin-bottom: 10px; box-shadow: 0 4px 4px 0 rgb(96,72,28); padding-left:30px; padding-top:10px; padding-right:10px;" *ngFor="let item of this.userElasticSearch">
          <h4 class="text-uppercase">{{item.name}}</h4>
          <div>Tags: <span class="tags-input__tag" *ngFor="let tag of item.tags;">{{tag}}</span></div>

              <button class="btn btn-danger"
                      style="margin-left:auto;margin-right:0px;float:right;margin-left:80%;margin-bottom:1%;width:20%;"  (click)="viewExpert(item._id)">
                  View Expert
              </button>
          
     </div>
          </div>
          <div id="contentDiv" *ngIf="this.contentElasticSearch.length>0">
          <h2>Content</h2>
          <div class="card" style="margin-bottom: 10px; box-shadow: 0 4px 4px 0 rgb(96,72,28); padding-left:30px; padding-top:10px; padding-right:10px;"  *ngFor="let item of this.contentElasticSearch">
          <h4 class="text-uppercase">{{item.title}}</h4>
          <div>Tags: <span class="tags-input__tag" *ngFor="let tag of item.tags;">{{tag}}</span></div>

              <button class="btn btn-danger"
                      style="margin-left:auto;margin-right:0px;float:right;margin-left:80%;margin-bottom:1%;width:20%;" 
                      (click)="viewContent(item._id)">
                  View Content
              </button>
        
     </div>
          </div>
    </div>
        </div>
    </div>