<div class="dv">
    <input class="srch1" style="outline:none;" type="text" [(ngModel)]="nameortype" placeholder="Search.." ngModel>
     &nbsp; &nbsp;
    <button class="btn btn-danger" (click)="search()"> Search </button><br>
   </div>
    <form class="check">              
        <input id="cont" type="checkbox" value="false" (click)="checkUncheck('cont')"> CONTENT
        &nbsp; &nbsp;
        <input id="comp" type="checkbox" value="false" (click)="hide();checkUncheck('comp')"> COMPANIES
        &nbsp; &nbsp;
        <input id="exp"  type="checkbox" value="false" (click)="checkUncheck('exp')"> EXPERT
    </form>
      <div style="text-align:center;">
    <div id="getHide">
        <input  id="name" type="checkbox" value="false" (click)="checkUncheck('name')"> NAME
        <input  id="type" type="checkbox" value="false" (click)="checkUncheck('type')"> TYPE
        <input  id="tag" type="checkbox" value="false" (click)="checkUncheck('tag')"> TAG
    </div>
    <br />
    <a href="#/content/viewallcontents"><button class="btn btn-danger"> View All Content </button></a>
    <a href="#/company/viewallcompanies"><button class="btn btn-danger"> View All Companies </button></a>
    <a href="#/expert/viewallexperts"><button class="btn btn-danger"> View All Experts </button></a>
    </div>
    <style>
        .check{
           text-align:center;
           margin-top:3px;
        }
        .dv{
            text-align: center;
        }
        .srch1{
            padding: .2em .2em .2em .5em;
            border-radius: 25px;
            width: 350px;
            height: 40px;
        }
    </style>
    <div *ngIf="!searchByTags">
    <!--Rifky-->
    <div *ngIf="searchStatus">
  <div class="container">
      <h1>Results</h1>
      <br>
      
      <div class="container-fluid" *ngFor="let item of this.Items">
          <div class="card" style="margin-bottom: 10px; box-shadow: 0 4px 4px 0 rgb(96,72,28); padding-left:30px; padding-top:10px; padding-right:10px;">
              <h4 class="text-uppercase">{{item.name}}</h4>
              <div>Tags: <span class="tags-input__tag" *ngFor="let tag of item.tags;">{{tag}}</span></div>
              <p class="title" style="float:right;"> {{item.type}}
                  <button class="btn btn-danger"
                          style="margin-left:auto;margin-right:0px;float:right;margin-left:70px;background-color:#DC0C18" (click)="viewCompany(item._id)">
                      View Company
                  </button>
              </p>
          </div>
      </div>
  </div>
</div>
<div *ngIf="contentStatus">
  <div class="container">
      <h1>Results</h1>
      <br>
      
      <div class="container-fluid" *ngFor="let item of this.Items">
          <div class="card" style="margin-bottom: 10px; box-shadow: 0 4px 4px 0 rgb(96,72,28); padding-left:30px; padding-top:10px; padding-right:10px;">
              <h4 class="text-uppercase">{{item.title}}</h4>
              <div>Tags: <span class="tags-input__tag" *ngFor="let tag of item.tags;">{{tag}}</span></div>
              <p class="title" style="float:right;"> {{item.type}}
              
                  <button class="btn btn-danger"
                          style="margin-left:auto;margin-right:0px;float:right;margin-left:70px;background-color:#DC0C18" (click)="viewContent(item._id)">
                      View Content
                  </button>
              </p>
          </div>
      </div>
  </div>
</div>
<div *ngIf="expertStatus">
  <div class="container">
      <h1>Results</h1>
      <br>
      
      <div class="container-fluid" *ngFor="let item of this.Items">
          <div class="card" style="margin-bottom: 10px; box-shadow: 0 4px 4px 0 rgb(96,72,28); padding-left:30px; padding-top:10px; padding-right:10px;">
              <h4 class="text-uppercase">{{item.username}}</h4>
              <div>Tags: <span class="tags-input__tag" *ngFor="let tag of item.tags;">{{tag}}</span></div>
              <p class="title" style="float:right;"> {{item.email}}

                  <button class="btn btn-danger"
                          style="margin-left:auto;margin-right:0px;float:right;margin-left:70px;background-color:#DC0C18" (click)="viewExpert(item._id)">
                      View Expert
                  </button>
              </p>
          </div>
      </div>
  </div>
</div>
<!--End rifky-->
</div>
    <div *ngIf="searchByTags">
    <div class="container">
    <h1>Results</h1>
    <div id="tablesDiv" >
          <div id="companyDiv" *ngIf="this.companyElasticSearch.length>0">
          
            <h2>Companies</h2>
          <div class="card" style="margin-bottom: 10px; box-shadow: 0 4px 4px 0 rgb(96,72,28); padding-left:30px; padding-top:10px; padding-right:10px;" *ngFor="let item of this.companyElasticSearch">
              <h4 class="text-uppercase">{{item._source.object.name}}</h4>
              <div>Tags: <span class="tags-input__tag" *ngFor="let tag of item._source.object.tags;">{{tag}}</span></div>

                  <button class="btn btn-danger"
                  style="margin-left:auto;margin-right:0px;float:right;margin-left:80%;margin-bottom:1%;width:20%;"  (click)="viewCompany(item._source.object._id)">
                      View Company
                  </button>
              
         </div>
          </div>
          <div id="expertDiv" *ngIf="this.userElasticSearch.length>0">
          <h2>Experts</h2>
          <div class="card" style="margin-bottom: 10px; box-shadow: 0 4px 4px 0 rgb(96,72,28); padding-left:30px; padding-top:10px; padding-right:10px;" *ngFor="let item of this.userElasticSearch">
          <h4 class="text-uppercase">{{item._source.object.name}}</h4>
          <div>Tags: <span class="tags-input__tag" *ngFor="let tag of item._source.object.tags;">{{tag}}</span></div>

              <button class="btn btn-danger"
                      style="margin-left:auto;margin-right:0px;float:right;margin-left:80%;margin-bottom:1%;width:20%;"  (click)="viewExpert(item._source.object._id)">
                  View Expert
              </button>
          
     </div>
          </div>
          <div id="contentDiv" *ngIf="this.contentElasticSearch.length>0">
          <h2>Content</h2>
          <div class="card" style="margin-bottom: 10px; box-shadow: 0 4px 4px 0 rgb(96,72,28); padding-left:30px; padding-top:10px; padding-right:10px;"  *ngFor="let item of this.contentElasticSearch">
          <h4 class="text-uppercase">{{item._source.object.title}}</h4>
          <div>Tags: <span class="tags-input__tag" *ngFor="let tag of item._source.object.tags;">{{tag}}</span></div>

              <button class="btn btn-danger"
                      style="margin-left:auto;margin-right:0px;float:right;margin-left:80%;margin-bottom:1%;width:20%;" 
                      (click)="viewContent(item._source.object._id)">
                  View Content
              </button>
        
     </div>
          </div>
    </div>              
    </div>