// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (
  default,
  cosmic
);

$nb-themes: nb-register-theme(

  (
    sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    layout-content-width: 1400px,
    font-main: unquote('"Proxima Nova Reg", Helvetica, Arial, sans-serif'),
    font-secondary: Helvetica,
    header-height: 37px,
    header-bg: #000,
    header-fg: #fff,
    header-font-size: 0.92857em,
    footer-bg: #000,
    footer-fg: #fff,
    header-shadow: 0,
    layout-bg: linear-gradient(to bottom, 
    #FCE307,
    #FCE307 30%,
    #F0F0F0 30%,
    #F0F0F0 70%)

  ),
  default,
  default
);



$nb-themes: nb-register-theme(

  (
    sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    layout-content-width: 1400px,
    font-main: Roboto,
    font-secondary: Exo
  ),
  cosmic,
  cosmic
);