<div class="header-container left">
  <div class="logo-containter">
    <!-- <a (click)="toggleSidebar()" class="navigation">
      <i class="nb-menu"></i>
    </a> -->
    <div class="logo" (click)="goToHome()"><img src="/assets/riseuplogo.svg" height="40.36px" width="120px"></div>
  </div>
</div>

<nb-actions size="medium" class="header-container right">
  <nb-action>
    <span >Home</span>
    <span >Kit</span>
    <nb-user [nbContextMenu]="userMenu" [name]="user?.username"></nb-user>
    <a href="#/user/login" style="padding-right:5px">Login</a>
  </nb-action>
</nb-actions>