<div class="header-container left">
  <div class="logo-containter">
    <!-- <a (click)="toggleSidebar()" class="navigation">
      <i class="nb-menu"></i>
    </a> -->
    <div class="logo" (click)="goToHome()"><img src="/assets/riseuplogo.svg" height="40.36px" width="120px"></div>
  </div>
</div>


<nb-actions size="medium" class="header-container right">
  <nb-action>
    <!-- <a ><span ><input  type="text" id="search_text_input" style="border-radius: 0px; padding:8px; border: 1.5px solid #d00018;" placeholder="Search Here"> <div  (click)="searchPage()" id="button-holder"><img src="/assets/search.svg"  /> </div></span></a> -->
    <a href="#/home/"><span >Home</span></a>
    <a href="#/search/"><span >Search</span></a>
    <a *ngIf="adminStatus==true" href="#/admin/"><span >Admin System</span></a>
    <a *ngIf="loggedin==true" href="#/content/create"><span ><button class="btn btn-warning btn-sm">Add Content</button></span></a>
    <!-- <nb-user *ngIf="loggedin==true" [nbContextMenu]="userMenu" [name]="user" (menuClick)="onMenuClick($event)"></nb-user> -->
    <div *ngIf="loggedin==true" class="dropdown">
      <button class="dropbtn">{{user['username']}}</button>
      <div class="dropdown-content">
        <a href="#/user/editProfile">Edit Profile</a>
        <a href="#/user/changePassword">Change password</a>
        <a *ngIf="user['expert']==false&&user['admin']==false" href="#/user/applyExpert">Apply to be an Expert</a>
        <a *ngIf="user['admin']==false" href="#/company/suggest">Suggest Company</a>
        <a (click)="logOut()">Logout</a>
      </div>
    </div>
    <span><a *ngIf="loggedin==false" href="#/user/login" style="padding-right:5px">Login</a>  <a *ngIf="loggedin==false" href="#/user/register" style="padding-right:5px">Register</a></span>
  </nb-action>
</nb-actions>

