<div class="container">
    <div *ngFor="let expert of experts">
        <div class="card" style="padding:10px 15px; padding-bottom:120px; margin-bottom:20px;display: block; ">
            <div style="float:left; width:800px;">
                <img src="/assets/profile1.png" style="float:left;margin-right:10px;">

                <h4>{{expert.firstname}} {{expert.lastname}}</h4>
                Email: {{expert.email}}
                <br /> Tags:
                <span class="tags-input__tag" *ngFor="let tag of expert.tags;">
                    <a href="#/search/searchResult?key={{tag}}">{{tag}}</a>
                </span>
            </div>
            <div style="float:right;">
                <Button (click)="ViewExpert(expert.username)" class="btn btn-danger btn-sm"> View Expert </Button>
                <br />

            </div>
        </div>
    </div>
</div>