
 
<div class="container">
    <div class="card" style="padding:10px 15px; padding-bottom:70px; margin-bottom:20px;display: block; ">
    <form  (ngSubmit) = "onSubmit(contentForm.value)">
        <H3 *ngIf="titleErr == 0 ">Title : </H3>  
        <H3 *ngIf="titleErr == 1 " style="color : red"><b>Title : *</b> </H3> 
        <input *ngIf="titleErr == 0 " #titleInput (keyup)="getTilteValue(titleInput.value)" value="{{PostTitle}}" ng-model="textboxdata" type = "text" class="form-control" name ="title" ngModel>
        <input *ngIf="titleErr == 1 " style="border-color: red" #titleInput (keyup)="getTilteValue(titleInput.value)" value="{{PostTitle}}" ng-model="textboxdata" type = "text" class="form-control" name ="title" ngModel>
        <br>
        <H3>Post Type : </H3>
        <br> 
        <select id="slct1" class="form-control" name="type" (change)="changeType($event)" required>
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
        <br> 
        <br>
        <br>
        <br>
        <h3 *ngIf="post==0 && postErr == 0" >Post : </h3>
        <h3 *ngIf="post==0 && postErr == 1 "  style="color : red"> <b>Post : *</b> </h3>
        <h3 *ngIf="post==1 && linkErr == 0" >Link : </h3>
        <h3 *ngIf="post==1 && linkErr == 1"  style="color : red"><b>Link : * </b></h3>
        <input #postInput (keyup)="getPostValue(postInput.value)" value="{{Content}}" type = "text" class="form-control" name = "post" *ngIf="post==0 && postErr == 0" ngModel>
        <input #postInput (keyup)="getPostValue(postInput.value)" value="{{Content}}" type = "text" class="form-control" name = "post" *ngIf="post==0 && postErr == 1" style="border-color: red" ngModel>

        <input #linkInput (keyup)="getLinkValue(linkInput.value)" value="{{Title}}" type = "text" class="form-control" name = "link" *ngIf="post==1  && linkErr == 0" ngModel>
        <input #linkInput (keyup)="getLinkValue(linkInput.value)" value="{{Title}}" type = "text" class="form-control" name = "link" *ngIf="post==1  && linkErr == 1" style="border-color: red" ngModel>
        
        <input *ngIf="post==2  && imageErr == 0" class="form-control " type='file' (change)="onSelectFile($event)" >
        <input *ngIf="post==2 && imageErr == 1" class="form-control " type='file' (change)="onSelectFile($event)" style="border-color: red">
        <br *ngIf="post==2">
        <br *ngIf="post==2">
        <span *ngIf="post==2"><img src="{{ImagePath}}" style="width:300px; height:200px">  </span>  
        <br>
        <br *ngIf="post==2">
        <H3 *ngIf="tagErr == 0 "  >Tag : </H3> 
        <H3 *ngIf="tagErr == 1 " style="color : red"> <b>Tag : *</b> </H3> 
        <input *ngIf="tagErr == 0 " #tagInput (keyup)="getTagValue(tagInput.value)" value="{{Tag}}"  type = "text" class="form-control" name = "tags" ngModel>
        <input *ngIf="tagErr == 1 " style="border-color: red" #tagInput (keyup)="getTagValue(tagInput.value)" value="{{Tag}}"  type = "text" class="form-control" name = "tags" ngModel>
        
    </form>
            <br>
            <button class="btn btn-sm" (click)="Submit(ID)" style="background:green ; padding: 10px"> <i class="fa fa-check-square-o" style="font-size:25px;color:rgb(185, 185, 185)"></i></button>
            <button class="btn btn-sm" (click)="Cancel()" style="background:orange;padding: 10px"> <i class="fa fa-times-rectangle-o" style="font-size:20px;color:white"></i></button> 
            <button class="btn btn-danger btn-sm" (click)="Delete(ID)" style="padding: 10px"> <i class="fa fa-trash" style="font-size:20px;color:white"></i> </button>
            <p> {{text}} </p>
        </div>
</div>



           
