<div class="companyDiv">
    <h2>Viewing Company:</h2>
    <h4>
        <b>{{Company['name']}}</b>
    </h4>
    <br>
    <div class="card" style="width:95%;
     padding:25px 15px; padding-bottom:220px; margin-bottom:20px;display: block; ">

        <div style="float:right;" *ngIf="adminStatus">
            <Button (click)="DeleteCompany()" class="btn btn-danger btn-sm">
                <i class="nb-trash" style="font-size:20px;font-weight:900;"></i>


            </Button>
        </div>

        <div style="float:left;">

            <div>
                <b>Field:</b> {{Company['type']}}</div>
            <br>
            <div>
                <b>Email:</b> {{Company['email']}}</div>
            <br>
            <div>
                <b>Website:</b>{{Company['website']}}</div>
            <br>
            <div>
                <b>Views:</b> {{Company['views']}}</div>
            <br>
            <div>
                <b>Tag:</b>
                <span class="tags-input__tag" *ngFor="let tag of Company['tags'];">
                    <a href="#/search/searchResult?key={{tag}}">{{tag}}</a>
                </span>
            </div>
            <br>



        </div>

    </div>